.flex{
    display: flex;
    align-items: center;
}

h2{
    color: #ff0000;
    text-align: center;
}  

h2:hover{
    color: black;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 8px;
}
p{
    color: black;
    line-height: 1.8rem;
}

.main-section{
    justify-content: center;
    flex-direction: column;
}

.section-box{
    width: 80%;
    padding: 5px;
    margin: 10px 10%;

}

.content-child{
    background-color: #eff6fa;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.logo-div{
    text-align: center;
    padding: 20px;
}

.image{
    width: 250px;
}