<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
    <link rel="stylesheet" href="/static/css/about.css/">
</head>
<body>
    {% include "nav.html" %}
    <!-- header section -->
    {% include "header.html" %}

    <h4 style="margin-left: 5%; font-size: 1.5rem;">Welcome, To About-Us Page!</h4>

    <main class="main-section">
        <section class="section-box">
            <div class="content-div">
                <h2>BEST ONLINE PLATFORM FOR UPSC & BPSC ASPIRANT AS WELL AS ALL COMPETETIVE EXAMINATIONS</h2>
            </div>

            <div class="content-child flex">
                <div class="p-div">
                    <h3>About Us:</h3>
                    <br>
                    <p>Welcome to <strong>[Daroga Essence Bihar]</strong>, your trusted partner in preparing for government exams! We are dedicated to helping students and professionals achieve their career goals by offering comprehensive, up-to-date resources and expert guidance for a wide range of government examinations. Whether it's Civil Services, SSC, Banking, or Railways, we provide well-curated study materials, mock tests, and expert mentorship to make sure you're fully prepared.

                        Our platform was built with one goal in mind: to simplify the complex journey of government exam preparation. With user-friendly interfaces, a focus on quality content, and a passionate team of educators, we aim to make your learning experience both effective and engaging.
                        
                        At [Platform Name], we believe in continuous learning and strive to stay ahead by integrating the latest technology and educational methodologies to serve you better. Join us and take the next step toward your dream government job!</p>
                </div>
            </div>
        </section>
    </main>

    <div class="logo-div"><a href=""><img class="image" src="/static/media/logo.png" alt=""></a></div>

    <marquee behavior="" direction="" height="40" bgcolor="lightblue" style="border-radius: 8px; padding: 10px 0px; font-size: 1rem;">
        <h5 style="margin: auto 0px">For Making Website Contact-Us: Phone- 9523789456 Email-shahabuddin123@gmail.com</h5>
    </marquee>

    <!-- footer section -->
    {% include "footer.html" %}
</body>
</html>