<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course page</title>
    <link rel="stylesheet" href="/static/css/course.css/">
</head>
<body>
    <!-- nav section -->
    {% include "nav.html" %}

    <!-- header section -->
    {% include "header.html" %}

    <h4 style="margin-left: 5%; font-size: 1.5rem;">Welcome, To Course Page!</h4>
    <!-- main section-->
    <main class="main-section">
        <section class="section-box">
            <div class="content-div">
                <h2>UPSC (UNION PUBLIC SERVICE COMMISSION) PREPRATION HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc3.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc4.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc3.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc5.png/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc8.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc7.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc3.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc4.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
            </div>
        </section>

        <section class="section-box">
            <div class="content-div">
                <h2>BPSC (BIHAR PUBLIC SERVICE COMMISSION) PREPRATION HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="p-div">
                    <a href=""><img src="/static/media/bpsc4.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/bpsc5.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc8.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/bpsc7.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/bpsc8.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc4.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc3.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc5.png/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
            </div>
        </section>

        <section class="section-box">
            <div class="content-div">
                <h2>BIHAR SI (BIHAR SUB-INSPECTOR) PREPRATION HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="p-div">
                    <a href=""><img src="/static/media/daroga8.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/daroga5.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/daroga7.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc4.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc3.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/daroga8.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc3.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc8.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
            </div>
        </section>

        <section class="section-box">
            <div class="content-div">
                <h2>IT TRAINNING (INFORMATION TECHNOLOGY) CENTER HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="p-div">
                    <a href=""><img src="/static/media/py1.png/" alt=""></a>
                    <p>Python Programming Language:<br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="/static/filepdf/Python.pdf/" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/book3.jpg/" alt=""></a>
                    <p>C++ Programming Language:<br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="/static/filepdf/c++ language.pdf/" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/book4.jpg/" alt=""></a>
                    <p>C Programming Language:<br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/book5.jpg/" alt=""></a>
                    <p>React Js Library Framework:<br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="/static/filepdf/React Js.pdf/" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/book6.jpg/" alt=""></a>
                    <p>Secret Of Programming Language:<br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/js1.png/" alt=""></a>
                    <p>JavaScript Programming Language:<br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="/static/filepdf/Javascript.pdf/" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/book7.png/" alt=""></a>
                    <p>Python Framework Djanog:<br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="/static/filepdf/django framework.pdf/" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/sql1.png/" alt=""></a>
                    <p>Structure Query Language:<br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="/static/filepdf/SQL.pdf/" class="click-button">Click Here</a>
                </div>
            </div>
        </section>

        <section class="section-box">
            <div class="content-div">
                <h2>ALL COMPETETIVE EXAMINATION PREPRATION HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="p-div">
                    <a href=""><img src="/static/media/daroga8.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc4.jpg/" alt="Image Not Found"></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/bpsc4.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc4.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/daroga5.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/bpsc7.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc3.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
                <div class="p-div">
                    <a href=""><img src="/static/media/upsc4.jpg/" alt=""></a>
                    <p><br><br><strong>For Pdf Please Click On Button</strong></p>
                    <a href="" class="click-button">Click Here</a>
                </div>
            </div>
        </section>
    </main>

    <marquee behavior="" direction="" height="40" bgcolor="lightblue" style="border-radius: 8px; padding: 10px 0px; font-size: 1.3rem;">
        <h5 style="margin: auto 0px">If You Have Any Queries Then Contact-Us Our Team! Help-line N0:- 100-8000000000!</h5>
    </marquee>

    <!-- footer section -->
     {% include "footer.html" %}
</body>
</html>