<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer-page</title>
    <link rel="stylesheet" href="/static/css/footer.css/">
</head>
<body>
    <!-- footer section -->
    <h4 style="text-align: center; text-transform: capitalize; letter-spacing: .8px; margin: 10px 0px;">for more information: you can contact-us:</h4>
    <hr size="5" color="red" style="width: 370px; border-radius: 8px; margin-inline: auto;">
    <footer class="footer-section flex">
        <div class="footer-content flex">
            <h4>Home</h4>
            <address class="address-bar flex">
                <a href="">home</a>
                <a href="">course</a>
                <a href="">career</a>
                <a href="">practice</a>
            </address>
        </div>
        <div class="footer-content flex">
            <h4>About Us</h4>
            <address class="address-bar flex">
                <a href="">home</a>
                <a href="">course</a>
                <a href="">career</a>
                <a href="">practice</a>
            </address>
        </div>
        <div class="footer-content flex">
            <h4>Contact Us</h4>
            <address class="address-bar flex">
                <a href="">home</a>
                <a href="">course</a>
                <a href="">career</a>
                <a href="">practice</a>
            </address>
        </div>
     </footer>
</body>
</html>