<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header page</title>
    <link rel="stylesheet" href="/static/css/header.css/">
</head>
<body>
    <header class="header-section">
        <div class="container-div">
            <hr size="7" color="red" style="border-radius: 10px;">
            <h1> WELCOME TO DAROGA ESSENCE BIHAR HUB FOR UPSC & BPSC</h1>
            <hr size="7" color="green" style="border-radius: 10px;">
        </div>
    
        <!-- <div><a href="/student/" style="margin-top: 5px; font-size: 1.2rem; font-weight: 700;">Student_data</a></div> -->
    
        <!-- <div class="logo-div"><a href=""><img class="image" src="/static/media/logo.png" alt=""></a></div> -->
    </header>
</body>
</html>