<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="/static/css/home.css/">
</head>
<body>
    {% include "nav.html" %}
    <header class="header-section">
        <div class="container-div">
            <hr size="10" color="red" style="border-radius: 10px;">
            <h1> WELCOME TO DAROGA ESSENCE BIHAR HUB FOR UPSC & BPSC</h1>
            <hr size="10" color="green" style="border-radius: 10px;">
        </div>

        <div><a href="/student/" style="margin-top: 5px; font-size: 1.2rem; font-weight: 700; border: 2px solid lightblue; border-radius: 5px; padding: 3px;">Table Link</a></div>

        <div class="logo-div"><a href=""><img class="image" src="/static/media/logo.png" alt=""></a></div>
    </header>

    <main class="main-section flex">

        <section class="section-box">
            <div class="content-div">
                <h2>UPSC (UNION PUBLIC SERVICE COMMISSION) PREPRATION HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="left-parent-div">
                    <div class="left-div">
                        <h3>upsc short details:</h3>
                        <p>The Union Public Service Commission (UPSC) is India's premier central recruiting agency responsible for conducting various prestigious examinations, including the Civil Services Examination (CSE), which selects candidates for top government posts like IAS, IPS, and IFS. UPSC ensures merit-based recruitment for public services through a rigorous selection process, including preliminary exams, mains, and interviews. It plays a crucial role in staffing India's bureaucracy and upholding the standards of public administration.</p>
                        <a href="/course/"><button>Click Here</button></a>
                    </div>
                </div>

                <div class="right-parent-div">
                    <div class="right-div">
                        <a href=""><img class="image-section" src="/static/media/upsc1.jpg/" alt="UPSC IMAGE IS NOT FOUND"></a>
                        <h3>UNION PUBLIC SERVICE COMMISSION</h3>
                        <p>Learn About UPSC,</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-box">
            <div class="content-div">
                <h2>BPSC (BIHAR PUBLIC SERVICE COMMISSION) PREPRATION HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="left-parent-div">
                    <div class="left-div">
                        <h3>bpsc short details:</h3>
                        <p>The Bihar Public Service Commission (BPSC) conducts the BPSC Examination to recruit candidates for various administrative positions in the state government of Bihar, such as Bihar Administrative Service, Bihar Police Service, and more. The exam consists of three stages: Preliminary, Mains, and Interview, designed to test candidates' knowledge, aptitude, and suitability for public service. It plays a key role in selecting competent individuals for governance in Bihar.</p>
                        <a href="/course/"><button>Click Here</button></a>
                    </div>
                </div>

                <div class="right-parent-div">
                    <div class="right-div">
                        <a href=""><img class="image-section" src="/static/media/bpsc1.jpg/" alt="UPSC IMAGE IS NOT FOUND"></a>
                        <h3>BIHAR PUBLIC SERVICE COMMISSION</h3>
                        <p>Learn About BPSC</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-box">
            <div class="content-div">
                <h2>BIHAR SI (BIHAR SUB-INSPECTOR) PREPRATION HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="left-parent-div">
                    <div class="left-div">
                        <h3>bihar sub-inspector short details:</h3>
                        <p>The Bihar <strong>Sub-Inspector(SI)</strong> Exam is conducted by the Bihar Police Subordinate Services Commission (BPSSC) to recruit candidates for the position of Sub-Inspector in the Bihar Police. The selection process includes a Preliminary exam, Mains exam, Physical Efficiency Test (PET), and Medical Examination. It is designed to assess candidates' knowledge, physical fitness, and aptitude for law enforcement roles in the state.</p>
                        <a href="/course/"><button>Click Here</button></a>
                    </div>
                </div>

                <div class="right-parent-div">
                    <div class="right-div">
                        <a href=""><img class="image-section" src="/static/media/daroga1.jpg/" alt="UPSC IMAGE IS NOT FOUND"></a>
                            <h3>BIHAR SUB-INSPECTOR</h3>
                            <p>Learn About Bihar SI</p>
                </div>
            </div>
        </section>

        <section class="section-box">
            <div class="content-div">
                <h2>IT (INFORMATION TECHNOLOGY) TRAINING CENTER HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="left-parent-div">
                    <div class="left-div">
                        <h3>Information Technology short details:</h3>
                        <p><strong>IT skills</strong> are essential for learners to thrive in today’s digital world. These skills include proficiency in software, hardware, programming, data analysis, cybersecurity, and networking. Mastering IT skills enhances problem-solving, boosts career opportunities, and enables learners to adapt to evolving technology trends across various industries.</p>
                        <a href="/course/"><button>Click Here</button></a>
                    </div>
                </div>

                <div class="right-parent-div">
                    <div class="right-div">
                        <a href=""><img class="image-section" src="/static/media/c1.jpg/" alt="UPSC IMAGE IS NOT FOUND"></a>
                            <h3>INFORMATION TECHNOLOGY</h3>
                            <p>Learn About Technology</p>
                </div>
            </div>
        </section>

        <section class="section-box">
            <div class="content-div">
                <h2>ALL COMPETETIVE EXAMINATION PREPRATION HUB:</h2>
            </div>
            <div class="content-child flex">
                <div class="left-parent-div">
                    <div class="left-div">
                        <h3>all government exam short details:</h3>
                        <p>At DarogaEssenceBihar, we offer everything you need to excel in any government exam. From comprehensive study material and expert-curated mock tests to personalized performance analytics and live interactive sessions, we ensure you're always ahead. Our user-friendly platform is designed to cater to all competitive exams, including UPSC, SSC, Banking, Railways, and more. With top-tier mentors, continuous updates, and a community-driven environment, we guarantee you the best preparation experience. Join us and take your first step toward a successful government career!</p>
                        <a href=""><button>Click Here</button></a>
                    </div>
                </div>

                <div class="right-parent-div">
                    <div class="right-div">
                        <a href=""><img class="image-section" src="/static/media/sarkari1.jpg/" alt="UPSC IMAGE IS NOT FOUND"></a>
                        <h3>GOVERNMENT JOBS</h3>
                        <p>Learn About Government Jobs</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <marquee behavior="" direction="" height="40" bgcolor="lightblue" style="border-radius: 8px; padding: 10px 0px; font-size: 1.3rem;">
        <h5 style="margin: auto 0px">I Have Developed This Website For Only Learning Purpose:</h5>
    </marquee>

    <!-- footer section -->
     {% include "footer.html" %}

</body>
</html>