<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav page</title>
    <link rel="stylesheet" href="/static/css/nav.css/">
</head>
<body>
    <nav class="nav-bar">
        <div class="container-box containe flex">
            <h2><a href="">DarogaEssenceBihar</a></h2>
            <div class="nav-link">
                <ul class="flex">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about/">ABOUT</a></li>
                    <li><a href="/career/">CAREER</a></li>
                    <li><a href="/course/">COURSE</a></li>
                    <li><a href="/addmission/">ADDMISSION</a></li>
                </ul>
            </div>
            <div class="action-bar flex">
                <a href="" class="button button1">DASHBOARD</a>
            </div>
        </div>
    </nav>
</body>
</html>